Repository anson09/rqthemes: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write

.lintstagedrc.yml:

"*.scss":
  - stylelint --fix
  - prettier --write
  - git add
"*.{yml,json,md}":
  - prettier --write
  - git add

fix: file mode
  .commitlintrc.yml
  .gitignore
  .huskyrc.yml
  .lintstagedrc.yml
  .npmrc
  .postcssrc.js
  .prettierignore
  .stylelintignore
  .stylelintrc.yml
  README.md
  demo/App.vue
  demo/index.html
  demo/main.js
  depVersion
  package-lock.json
  package.json
  src/compatibility.scss
  src/dark.scss
  src/dark/index.scss
  src/element-ui.scss
  src/fonts/element-icons.ttf
  src/fonts/element-icons.woff
  src/global.scss
  src/highcharts.scss
  src/index.scss
  src/light.scss
  src/light/index.scss
  yarn.lock
Due: stylelint --fix, prettier --write

fix: dark mode fix
  index.css
  legacy.css
  light.json
  package.json
  src/dark.scss
  src/light.scss
Due: stylelint --fix, prettier --write

feat: add checkbox hover color
  index.css
  legacy.css
  light.json
  package.json
  src/dark.scss
  src/element-ui.scss
  src/light.scss
Due: stylelint --fix, prettier --write

fix: el-menu position
  index.css
  legacy.css
  package.json
  src/element-ui.scss
Due: stylelint --fix, prettier --write

fix: tabs default disabled color
  src/element-ui.scss
Due: stylelint --fix, prettier --write

chore: up version
  package.json
Due: prettier --write

chore: build
  index.css
  legacy.css
  package-lock.json
  package.json
Due: prettier --write

feat: add button-red, button-green, error color variables
  index.css
  legacy.css
  light.json
  src/dark.scss
  src/light.scss
Due: stylelint --fix, prettier --write

fix: button-default border-color
  src/element-ui.scss
Due: stylelint --fix, prettier --write

chore: release 0.7.5
  package-lock.json
  package.json
Due: prettier --write

feat: add --error-color-3
  index.css
  legacy.css
  light.json
  src/dark.scss
  src/light.scss
Due: stylelint --fix, prettier --write

chore: release 0.7.6
  package-lock.json
  package.json
Due: prettier --write

fix: button plain active background
  index.css
  legacy.css
  package-lock.json
  src/element-ui.scss
Due: stylelint --fix, prettier --write

chore: split build command
  package.json
Due: prettier --write

chore: remove dist track in git
  .gitignore
  index.css
  legacy.css
  light.json
  package-lock.json
  package.json
Due: prettier --write

chore: remove yarn lock
  yarn.lock
Due: none

chore: readme
  README.md
Due: prettier --write

chore: add todo
  TODO.md
Due: prettier --write

ci: clear publish files
  .npmrc
  package-lock.json
  package.json
Due: prettier --write

chore(release): 0.7.7
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat!: drop normalize.css output
  .stylelintignore
  .stylelintrc.yml
  README.md
  package-lock.json
  package.json
  src/index.scss
Due: stylelint --fix, prettier --write

feat!: output includes element base.css
  .gitignore
  .lintstagedrc.yml
  .prettierignore
  TODO.md
  demo/App.vue
  demo/main.js
  depVersion
  package-lock.json
  package.json
  scripts/postbuild.sh
  scripts/updep.sh
  src/fonts/element-icons.ttf
  src/fonts/element-icons.woff
Due: prettier --write

feat: demo theme switch
  .prettierignore
  demo/App.vue
  demo/ThemeSwitch.vue
Due: none

chore: readme
  .stylelintignore
  README.md
  package.json
Due: prettier --write

feat: remove useless var
  src/compatibility.scss
  src/global.scss
Due: stylelint --fix, prettier --write

fix: highcharts font family
  src/highcharts.scss
Due: stylelint --fix, prettier --write

feat!: split element-ui themes from default index.css
  .gitignore
  .lintstagedrc.yml
  .postcssrc.js
  .prettierignore
  .stylelintignore
  README.md
  TODO.md
  demo/App.vue
  demo/Element.vue
  demo/main.js
  depVersion
  element-export/dark.scss
  element-export/light.scss
  package-lock.json
  package.json
  scripts/lint.sh
  scripts/make.sh
  scripts/postbuild.sh
  src/element-dark.scss
  src/element-light.scss
  src/element-ui.scss
Due: stylelint --fix, prettier --write

fix: button ghost hover color
  src/dark.scss
  src/light.scss
Due: stylelint --fix, prettier --write

feat: add new theme product(light-next)
  README.md
  demo/main.js
  scripts/make.sh
  src/element-product.scss
  src/element-ui.scss
  src/index.scss
  src/product.scss
Due: stylelint --fix, prettier --write

refactor: src structure
  .postcssrc.js
  package.json
  scripts/make.sh
  src/element-dark.scss
  src/element-light.scss
  src/element-product.scss
  src/element-ui/dark.scss
  src/element-ui/light.scss
  src/element-ui/product.scss
  src/element-ui/rq-reset.scss
  src/index.scss
  src/vars/compatibility.scss
  src/vars/dark.scss
  src/vars/light.scss
  src/vars/product.scss
Due: stylelint --fix, prettier --write

perf: shrink index bundle size
  src/element-ui/rq-reset.scss
Due: stylelint --fix, prettier --write

ci: add jenkins job
  Jenkinsfile
Due: none

perf: clear empty :root{}
  scripts/postbuild.sh
Due: none

feat: build validating
  package.json
  scripts/make.sh
  scripts/postbuild.sh
  src/element-ui/rq-reset.scss
Due: stylelint --fix, prettier --write

chore: doc vars
  README.md
Due: prettier --write

revert: fetch vars logic
  .postcssrc.js
  TODO.md
Due: prettier --write

chore(release): 1.0.0-next.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: changelog generator
  .versionrc.js
  CHANGELOG.md
Due: prettier --write

chore(release): 1.0.0-next.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: dev mode instant review
  demo/main.js
Due: none
