Repository anson09/rqthemes: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write

ci: dep check
  package.json
Due: prettier --write

chore(release): 1.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: updep
  depVersion
  package-lock.json
  package.json
Due: prettier --write

fix: default scrollbar style
  depVersion
  package-lock.json
  package.json
  src/global.scss
Due: stylelint --fix, prettier --write

chore(release): 1.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

docs: files structure description
  README.md
  rqthemes.drawio
  rqthemes.png
Due: prettier --write

docs: light.json path
  README.md
  package.json
Due: prettier --write

chore: package meta
  README.md
  package.json
Due: prettier --write

feat: move product theme to new light theme
  demo/ThemeSwitch.vue
  demo/main.js
  scripts/make.sh
  src/element-ui/product.scss
  src/index.scss
  src/vars/light.scss
  src/vars/product.scss
Due: stylelint --fix, prettier --write

chore: no install dependency now
  depVersion
  package-lock.json
  package.json
Due: prettier --write

feat: theme vars could be imported standalone
  README.md
  demo/main.js
  package.json
  scripts/make.sh
  src/element-ui/rq-reset.scss
  src/index.scss
  src/vars/index.scss
Due: stylelint --fix, prettier --write

chore(release): 2.0.0-next.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: bash set config
  scripts/make.sh
Due: none

fix: light.json error value
  .postcssrc.js
Due: prettier --write

chore(release): 2.0.0-next.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: move nodejs active lts version forward
  package.json
Due: prettier --write

ci: updep version robust
  scripts/updep.sh
Due: none

feat: update highchart colors
  src/highcharts.scss
Due: stylelint --fix, prettier --write

fix: element export dark file bug
  .lintstagedrc.yml
  .stylelintignore
  depVersion
  element-export/dark.scss
  package-lock.json
  package.json
Due: stylelint --fix, prettier --write

chore(release): 2.0.0-next.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: update husky v5 and highcharts v9
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.yml
  depVersion
  package-lock.json
  package.json
Due: prettier --write

chore: add vetur dep
  jsconfig.json
Due: prettier --write

chore: updep
  .husky/.gitignore
  depVersion
  package-lock.json
  package.json
Due: prettier --write

chore(release): 2.0.0-next.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: husky install in pack mode
  package.json
Due: prettier --write

fix: publish will active pack hook
  package.json
Due: prettier --write

chore: updep
  depVersion
  package-lock.json
  package.json
  src/element-ui/rq-reset.scss
Due: stylelint --fix, prettier --write

ci: new anka machine
  Jenkinsfile
  depVersion
  package-lock.json
  package.json
Due: prettier --write

feat: remove element rqset
  element-export/light.scss
  rqthemes.drawio
  rqthemes.png
  src/element-ui/rq-reset.scss
  src/index.scss
Due: stylelint --fix, prettier --write

chore(release): 2.0.0-next.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat!: delete all variables outside light/dark definition
  .postcssrc.js
  README.md
  depVersion
  element-export/dark.scss
  element-export/light.scss
  package-lock.json
  package.json
  src/global.scss
  src/highcharts.scss
  src/index.scss
  src/vars/compatibility.scss
  src/vars/dark.scss
  src/vars/light.scss
Due: stylelint --fix, prettier --write

chore(release): 2.0.0-next.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: update light color
  depVersion
  package-lock.json
  package.json
  src/vars/light.scss
Due: stylelint --fix, prettier --write

chore(release): 2.0.0-next.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: udpate dark variables
  src/vars/dark.scss
Due: stylelint --fix, prettier --write

chore(release): 2.0.0-next.7
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: update element light theme
  depVersion
  element-export/light.scss
  package-lock.json
  package.json
  src/vars/dark.scss
Due: stylelint --fix, prettier --write

chore(release): 2.0.0-next.8
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  stylelint --fix: any of: *.scss
  prettier --write: (any of: *.scss) or (any of: *.{js,yml,json,md})
