Repository anson09/rqthemes: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix --aei, prettier --write

.lintstagedrc.yml:

"*.scss":
  - stylelint --fix --aei
  - prettier --write
"*.{js,yml,json,md}":
  - prettier --write

update
  src/vars/dark.scss
  src/vars/light.scss
Due: stylelint --fix --aei, prettier --write

feat: update element export
  element-export/light.scss
Due: stylelint --fix --aei, prettier --write

chore(release): 2.0.0-next.9
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: update element export and vars
  depVersion
  element-export/light.scss
  package-lock.json
  package.json
  src/vars/dark.scss
  src/vars/light.scss
Due: stylelint --fix --aei, prettier --write

feat: update element dark export
  element-export/dark.scss
  package-lock.json
Due: stylelint --fix --aei, prettier --write

chore(release): 2.0.0-next.10
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: update dark theme and delete highcharts-tree
  depVersion
  element-export/dark.scss
  element-export/light.scss
  package-lock.json
  package.json
  src/global.scss
  src/highcharts.scss
  src/vars/dark.scss
Due: stylelint --fix --aei, prettier --write

chore(release): 2.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: element bundle switchs to master from dev
  depVersion
  element-export/dark.scss
  element-export/light.scss
  package-lock.json
  package.json
Due: stylelint --fix --aei, prettier --write

chore(release): 2.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

update dark
  src/vars/dark.scss
Due: stylelint --fix --aei, prettier --write

chore: update element exported
  depVersion
  element-export/dark.scss
  element-export/light.scss
  package-lock.json
  package.json
  src/vars/dark.scss
Due: stylelint --fix --aei, prettier --write

chore(release): 2.0.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

ci: update server address
  Jenkinsfile
Due: none

chore: update element dep
  depVersion
  element-export/dark.scss
  element-export/light.scss
  package-lock.json
  package.json
Due: stylelint --fix --aei, prettier --write

chore(release): 2.0.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: update stylelint 14 & nodejs 16
  .stylelintrc.yml
  depVersion
  package-lock.json
  package.json
  src/element-ui/dark.scss
  src/element-ui/light.scss
  src/highcharts.scss
  src/vars/dark.scss
  src/vars/light.scss
Due: stylelint --fix --aei, prettier --write

chore(release): 2.0.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: updep
  depVersion
  package-lock.json
  package.json
Due: prettier --write

fix: npm taobao registry modify _postinstall script
  package-lock.json
  package.json
  scripts/hook.sh
Due: prettier --write

chore(release): 2.0.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: depVersion
  depVersion
  package-lock.json
  package.json
Due: prettier --write

style: update stylelint rules
  depVersion
  package-lock.json
  package.json
  src/highcharts.scss
Due: stylelint --fix --aei, prettier --write

chore: updep
  depVersion
  package-lock.json
Due: prettier --write

fix: merge element fix
  depVersion
  element-export/dark.scss
  element-export/light.scss
  package-lock.json
  package.json
Due: stylelint --fix --aei, prettier --write

chore(release): 2.0.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: latest hsl color format is unsupport in ie
  .postcssrc.js
  depVersion
  package-lock.json
  package.json
Due: prettier --write

chore(release): 2.0.7
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

docs: readme
  rqthemes.png
Due: none
